section {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.field--label {
	font-size: 120%;
}

.field--items .field--item {
	display: inline-block;
}

.contextual-region .view-header {
	font-weight: bold;
	font-size: 120%;
}

img {
	max-width: 100%;
	width: auto;
  height: auto;
}